---
import { HeroSimpleWithProvider } from "../HeroSimple.tsx";
---

<div id="hero-section">
  <HeroSimpleWithProvider client:only="react" />
</div>

<script is:inline src="/scripts/visualizer.js"></script>
