---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "Free",
    price: "$0",
    popular: false,
    features: [
      "10 minutes/month",
      "Standard analysis features",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/analyze",
    },
  },
  {
    name: "Creator",
    price: {
      monthly: "$19",
      annual: "$16",
    },
    popular: true,
    features: [
      "120 minutes/month",
      "Advanced analysis features (Coming Soon)",
      "Priority Support",
    ],
    button: {
      text: "Choose Creator",
      link: "#",
    },
  },
  {
    name: "Business",
    price: "Custom",
    popular: false,
    features: [
      "Unlimited usage",
      "API Access",
      "Dedicated Account Manager",
      "SAML & SSO Integration",
    ],
    button: {
      text: "Contact Sales",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing Plans</Fragment>
      <Fragment slot="desc">
        Simple, predictable pricing. No surprises.
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-5xl mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
