---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-5 py-2.5",
  lg: "px-6 py-3",
};

const styles = {
  outline:
    "border-2 border-violet-500 hover:bg-violet-500 text-violet-400 hover:text-white bg-transparent",
  primary:
    "bg-gradient-to-r from-violet-500 to-blue-500 text-white hover:from-violet-600 hover:to-blue-600 border-2 border-transparent shadow-lg hover:shadow-xl hover:shadow-violet-500/25",
};
---

<button
  {...rest}
  class:list={[
    "rounded-xl text-center font-semibold transition-all duration-300 focus-visible:ring-2 ring-offset-2 ring-violet-500/50 focus:outline-none",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</button>
